<html>
	<head>
		<title>Final Exam</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
				<li><a href="/">All Teachers</a></li>
				<li><a href="/teachers/schools">Teachers By Schools</a></li>
				<li><a href="/teachers/subjects">Teachers By Subjects</a></li>
				<li><a href="/teachers/search">Search By Name</a></li>
				</ul>
			</div>
		</nav>
		if result
			<div class="btn-group btn-group-justified">
				for val in data
					a(href="/back/subjects/"+val.subject class="btn btn-primary") #{val.subject}
			</div>
		if result2
			<div class="container">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						for val in data
							<tr>
								td= val.name
							</tr>
					</tbody>
				</table>
			</div>	
	</body>
</html>